/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-size: 18px !important;
}

.login_signup__form,
.new__session {
    max-width: 480px !important;
    padding: 15px;
    margin: 0 auto 100px;
}

@media screen and (max-width: 768px) {
    .cf-nav__menu {
        position: absolute;
        background-color: #fff;
        box-shadow: 8px 8px 20px 0 #3333331a;
        z-index: 1;
        max-height: 0;
        pointer-events: none;
        transition: max-height 0.4s;
        overflow: scroll;
        padding: 0 30px;
        margin-right: 0;
        display: block;
    }
    .cf-nav__menu .cf-nav__menu {
        top: 45px;
        left: 0;
        right: 0;
    }
}